<div class="main">
  <div class="input-form">
    <label>Salary form:</label>
    <select [(ngModel)]="salaryForm">
      <option value="0">Monthly Salary</option>
      <option value="1">Yearly Salary</option>
      <option value="2">Hourly Rate</option>
    </select>
    {{salaryForm}}
  </div>
  <div class="input-form">
    <label>Salary:</label>
    <input>
  </div>
  <div class="input-form">
    <label>Number of working days:</label>
    <input>
  </div>
  <div class="input-form">
    <label>Number of days off:</label>
    <input>
  </div>
  <div class="input-form">
    <label>Calculated value:</label>
    <input>
  </div>
</div>
